body {
    background-color: #020;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

#main {
    text-align: center;
}
#target1 {
    font-size: 40px;
    margin: 5em auto 0 auto;
}
button {
    margin: 1em .5em;
    width: 10%;
    border: none;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
    background-color: lightgrey;
    font-weight: 900;
    box-shadow: 0 0 5px grey;
}

button:hover {
    cursor: pointer;
}