body {
    background-color: black;
    color: lawngreen;
}

#main {
    text-align: center;
}
#target1 {
    font-size: 40px;
    margin: 5em auto 0 auto;
}
button {
    margin: auto;
    width: 10%;
    border: none;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
    color: black;
    background-color: lawngreen;
    font-family: 'Courier New', monospace;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
}