body {
    background-color: black;
    background-image: radial-gradient(
            rgba(0, 150, 0, 0.75), black 120%
    );
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

body::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background: repeating-linear-gradient(
             0deg,
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5) 1px,
             transparent 1px,
             transparent 2px
     );
     pointer-events: none;
 }

#main {
    text-align: center;
}
#target1 {
    font-size: 40px;
    margin: 5em auto 0 auto;
}
button {
    margin: 1em .5em;
    width: 10%;
    border: none;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
    background-color: lightgrey;
    font-weight: 900;
    box-shadow: 0 0 5px grey;
}

button:hover {
    cursor: pointer;
}